<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mypetrinet -->
      <package
            uri="http://mbse.compute.dtu.dk//dk.dtu.compute.mbse.petrinet"
            class="dk.dtu.compute.mbse.petrinet.PetrinetPackage"
            genModel="model/petrinet.genmodel"/>
   </extension>

</plugin>
