<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension
         id="mbse.yawl.pntd"
         name="YAWL NETS"
         point="org.pnml.tools.epnk.pntd">
      <type
            class="mbse.yawl.impl.YAWLNetImpl"
            description = "YAWL Nets">
      </type>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated yawl -->
      <package
            uri="http://se.compute.dtu.dk/mbse/yawl"
            class="mbse.yawl.YawlPackage"
            genModel="model/yawl.genmodel"/>
   </extension>

</plugin>
